# Dependencies
node_modules/

# Env / secrets
.env
.env.*
!.env.example

# Compiler files
cache/
out/

# OS
.DS_Store

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/
